# Compiled Object files
*.slo
*.lo
*.o
*.swp

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
#Parameter files from runs
*.*-usedvalues
Gadget2AccretionDiscs/Gadget2/Gadget2
#Things that are too big to upload all the time
Gadget2AccretionDiscs/Tests/TimingTests/initDisc5e5.IC
Gadget2AccretionDiscs/Tests/TimingTests/initDisc5e6.IC
Gadget2AccretionDiscs/Tests/TimingTests/initDisc5e7.IC
#The Makefile
Gadget2AccretionDiscs/Gadget2/Makefile

